@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: "Fira Code";
		src: url("./assets/FiraCode-Light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Fira Code";
		src: url("./assets/FiraCode-Regular.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Fira Code";
		src: url("./assets/FiraCode-Medium.woff2") format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Fira Code";
		src: url("./assets/FiraCode-SemiBold.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Fira Code";
		src: url("./assets/FiraCode-Bold.woff2") format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
}
body,
html {
	font-family: "Fira Code", "Segoe UI", "Meiryo", sans-serif !important;
	background: #141414 !important;
}

.Pane {
	overflow: auto;
	background: #fff !important;
}
.Resizer {
	background: #eee;
	cursor: col-resize;
	width: 2px;
	z-index: 10;
	transition: background 0.2s;
}
.Resizer:hover {
	background: #ccc;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

button {
	cursor: pointer;
}

button:hover {
	border-color: #396cd8;
}
button:active {
	border-color: #396cd8;
	background-color: #e8e8e8;
}

input,
button {
	outline: none;
}

#greet-input {
	margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #f6f6f6;
		background-color: #2f2f2f;
	}

	a:hover {
		color: #24c8db;
	}

	input,
	button {
		color: #ffffff;
		background-color: #0f0f0f98;
	}
	button:active {
		background-color: #0f0f0f69;
	}
}
