@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "FiraCode";
	src: url("./assets/FiraCode-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FiraCode";
	src: url("./assets/FiraCode-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FiraCode";
	src: url("./assets/FiraCode-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FiraCode";
	src: url("./assets/FiraCode-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FiraCode";
	src: url("./assets/FiraCode-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body,
html {
	font-family: "FiraCode", "Segoe UI", "Meiryo", sans-serif !important;
	background: #141414 !important;
}

.Pane {
	overflow: auto;
	background: #fff !important;
}
.Resizer {
	background: #eee;
	cursor: col-resize;
	width: 8px;
	z-index: 10;
	transition: background 0.2s;
}
.Resizer:hover {
	background: #ccc;
}
